rules:
    - Juampi92\PHPStanEloquentBoundedContext\RestrictModelMutationOutsideDomainRule
    - Juampi92\PHPStanEloquentBoundedContext\RestrictModelPersistenceOutsideDomainRule
    - Juampi92\PHPStanEloquentBoundedContext\RestrictModelStaticPersistenceOutsideDomainRule

services:
	domainResolver:
		class: Juampi92\PHPStanEloquentBoundedContext\DomainResolver
		arguments:
		    domainDefinitionFiles: %domainDefinitionFiles%

parametersSchema:
    domainDefinitionFiles: listOf(string())
